#chat{
    height: 82vh;
    overflow-y: scroll;
    background-color: #FBFBFB;
}

body{
    background-color: #DDDDDD;
    height: 100vh;
}

#liveChat{
    position: relative;
    left: 1vw;
    background-color: #DDDDDD;
    width: 98vw;
}

.modal-content{
    background-color: #DDDDDD;
}

#message{
    background-color: #FBFBFB;
}

.entry{
    width: 80%;
    top: 25vh;
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .entry{
        width: 100%;
        top: 5vh;
    }

    #chat{
        height: 70vh;
    }
}

#usernameHeader{
    font-size: 1.5rem;
}

#username{
    width: 50%;
    margin: auto;
}

#error{
    font-size: 1.5rem;
    color: red; 
    display: none;
}

#closeBtn{
    position: relative;
    right: 0px;
}

.channels{
    display: none;
}

.channelButton{
    position: relative;
}

.options{
    margin: auto;
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

#channelSidebar{
    background-color: #DDDDDD;
}

.channelsForm{
    height: 100%;
    display: inline-flex;
    position: relative;
}

#channelsForm{
    height: 100%;
    /*display: inline-block;*/
}

#channelHeader{
    display: inline-flex;
    position: relative;
    width: 100%;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.channelOptions{
    right: 0px;
    position: relative;
}

.channelsForm{
    display: block;
}

#createNewChannel{
    display: none;
}

.FreeDomainShare{
    position: absolute;
    left: 10px;
    bottom: 0px;
}